<header class="header">
    <div class="top-header">
      <a href="../">
        <img
          class="logotype"
          src="/public/logo-cinema.png"
          alt="logotype for the cinema"
      /></a>
      <h1>Lule Northern Lights Cinema</h1>
      <img
        id="hamburger-icon"
        src="/public/hamburger-icon.svg"
        alt="hamburger-icon"
      />
    </div>
    <nav>
      <ul class="main-nav">
        <a href="/oppettider">
          <li>Öppetider & Kontakt</li>
        </a>
        <a href="/om-oss">
          <li>Om våran biograf</li>
        </a>
        <a href="/biljettinfo">
          <li>Biljettinfo</li>
        </a>
        <a href="/nyhetsbrev">
          <li>Nyheter</li>
        </a>
        <a href="/presentkort">
          <li>Köp presentkort</li>
        </a>
        <section>
          <a href="#">
            <img
              class="social-media-links"
              src="/public/facebook.svg"
              alt="facebook icon"
          /></a>
          <a href="#">
            <img
              class="social-media-links"
              src="/public/instagram.svg"
              alt="instagram icon"
          /></a>
          <a href="#">
            <img
              class="social-media-links"
              src="/public/twitter.svg"
              alt="twitter icon"
          /></a>
          <a href="#">
            <img
              class="social-media-links"
              src="/public/mail.svg"
              alt="mail icon"
          /></a>
        </section>
      </ul>
    </nav>
  </header>