<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %> 
    <%- include('./partials/secnav.ejs') %>
    <div class="picture-container"></div>
    <div class="modal-container">
      <div class="cinema-modal"></div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
